 html , body {
      height : 100%;
      width: 100%;
      overflow-x: hidden;
    }
    .writeButton {
      background-color: red;

    }
    .header {
      border : 2px solid indianred;
      background-color: salmon;
      height: 10%;
      width: 100%;
      position: relative;
      top: 0;
    }
    .footer {
      display: flex;
      justify-content: center;
      align-content: center;
      width: 100%;
      border : 2px solid indianred;
      background-color: salmon;
      height: 10%;
      position: relative;
      bottom: 0;
    }
    .container {
      height: 80%;
      width: 100%;
    }
    .container-fluid {
      height: 40%;
      width: 90%;
      border: 2px solid grey;
      padding: 20px;
      margin: 20px;
      background-color: whitesmoke;
      overflow: hidden;
    }
    #textContent {
      width: 90%;
      height: 200px;
    }
    .article-container {
      height: 90%;
      background-color: ivory;
      padding: 20px;
      overflow: auto;
    }
    .currentArticle {
      height: auto; 
    }
    .comments {
      /*border: 1px solid blue;*/
    }
    .comment {
      border-left: 3px solid red;
      background-color: white;
    }
    .commentator-name {
      color: blue;
    }
    .comment-body{

    }
    .img-container {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      align-items: center;
    }
    #date {
      position: relative;
      top: 10%;
    }
    #refresh-filters {
      position: relative;
      top: 40%;
    }
    #categories {
      position: relative;
      top: 15%;
    }
    #tags {
      position: relative;
      top: 20%;
    }
    #pagination {
      position: absolute;
      bottom: 12%;
    }
    .pagination {
      margin: 0;
    }